.Cart {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 5px 0;
    margin-left: 1em;
    flex-direction: row;
}

.Cartdiv {
    display:flex;
    justify-content: space-around;
    align-content:space-around;
    width: 100%;
}
.cartTitle {
    width: 40%;
}
.cartQty {
    width: 15%;
}
.cartPrice {
    width: 20%;
}
.cartChildren {
    width: 10%;
}