.contactContainer {
  width: 97%;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer {
  width: 100%;
  display: flex;
  margin-top: 1em;
}
.formLeftContainer {
  width: 50%;
  margin-top: 4em;
}
.formLeftConTag {
  margin-top: 3em;
}
.formRightContainer {
  width: 50%;
}
.formContainerHeader{
  margin: 0.4em 1em;
  font-weight: bold;
}
.addressContainer {
  margin: 1em 1em;
  width: 100%;
  display: flex;
}
.addressLeftContainer {
  width: 50%;
}
.addressRightContainer {
  width: 50%;
}
.addressContainerHeader {
  font-weight: bold;
  display: flex;
}
.addressContainer ul li {
  text-align: left;
}
.socialMediaUl {
  display: flex;
}
.socialMediaLi {
  margin-left: 1.5em;
}
.socialMediaLi a {
  color: black;
}
.contactModal {
  display: flex;
}
.contactModalDiv {
  border: 1px solid #111;
  background-color: #111;
  margin: 1em 0 0 1em;
  border-radius: 5px;
  color: white;
  padding: 0.3em;
  cursor: pointer;
  font-weight: bold;
}
.optionSelected {
  border: 1px solid #9c2a00;
  background-color: #9c2a00;
  margin: 1em 0 0 1em;
  border-radius: 5px;
  color: white;
  padding: 0.3em;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 750px) {
  .formContainer {
    flex-direction: column;
  }
  .formLeftContainer {
    width: 100%;
    margin: 0 0 0 0.5em;
  }
  .formLeftConTag {
    margin-top: 0.5em;
  }
  .formRightContainer {
    width: 100%;
    margin-left: 0.5em;
  }
}
@media (max-width: 350px) {
  .addressContainer {
    flex-direction: column;
  }
  .addressLeftContainer {
    width: 100%;
  }
  .addressRightContainer {
    width: 100%;
  }
}