.Menu {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
}

.bookButton {
    background-color: #9c2a00;
    outline: none;
    cursor: pointer; 
    border: 1px solid #9c2a00;
    color: white;   
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
}

.boomButton:hover, .bookButton:active {
    background-color: #FEDF47;
    border: 1px solid #9c2a00;
    color: #966909;
}