#partyOrdersContainer {
    width: 95%;
    margin: 0 5em 0 1em;
} 
  .nameInput,
  .phoneInput,
  .emailInput {
      width: 100%;
    margin-top: 0.7em;
    height: 2em;
    padding-left: 0.3em;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
  }
  .dateTimeDiv {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .orderDateDiv {
      width: 100%;
  }
  .orderTimeDiv {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .dateInput {
    width: 100%;
    margin-top: 0.7em;
    height: 2em;
    padding-left: 0.3em;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
  }
  .timeInput {
    width: 100%;
    margin: 0.7em 0 0 0;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
    height: 2em;
  }
  .meridianInput {
    width: 100%;
    margin: 0.7em 0 0 0;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
    height: 2em;
  }
  .categorySelect {
      width: 100%;
      margin-top: 0.7em;
      height: 2em;
    padding-left: 0.3em;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
  }
  .textArea {
      width: 100%;
      margin-top: 0.7em;
      height: 2em;
    padding-left: 0.3em;
    border: 1.5px solid #c2c2c2;
    border-radius: 5px;
  }
  .dataButton {
    background-color: #9c2a00;
    outline: none;
    cursor: pointer;
    border: 1px solid #9c2a00;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0.7em;
    border-radius: 5px;
  }
  .bannerNote {
    font-weight: bold;
  }
  .knowMoreLink {
    font-weight: 100;
    text-decoration: underline;
  }
  
  @media (min-width: 400px) {
    .ContactData {
      width: 500px;
    }
    .Button {
      width: 100px;
    }
  }
  @media (max-width: 350px) {
    #partyOrdersContainer {
      width: 90%;
    }
  }
  @media (max-width: 530px) {
    .orderDateDiv {
      display: flex;
      flex-direction: column;
    }
    .dateInput {
      margin-top: 0em;
      width: 100%;
    }
    .orderTimeDiv {
      display: flex;
      flex-direction: column;
    }
    .timeInput {
      margin: 0em;
      width: 100%;
    }
    .meridianInput {
      margin: 0.2em 0 0 0;
      width: 100%;
    }
    .dobInputDiv {
      display: flex;
      flex-direction: column;
    }
    .dobInput {
      margin-top: 0em;
      width: 100%;
    }
    .domInputDiv {
      display: flex;
      flex-direction: column;
    }
    .domInput {
      margin-top: 0em;
      width: 100%;
    }
  }
  .dataButton:hover,
  .dataButton:active {
    background-color: #fedf47;
    border: 1px solid #b30019;
    color: #966909;
  }
  .errorMessage {
    color: red;
  }
  