.changePassword {
    margin-top: 10%;
}

.Button {
    background-color: #B30019;
    outline: none;
    cursor: pointer;
    border: 1px solid #B30019;
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2em;
    padding: 5px 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px #966909;
}

.Button:hover, .OrderButton:active {
    background-color: #FEDF47;
    border: 1px solid #B30019;
    color: #966909;
}

@media (min-width: 400px) {
    .changePassword {
        margin-top: 10%;
    }
}
