.homeContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #212428;
}
.homeContentResponsive {
    display: none;
}
.firstContainer {
    width: 100%;
    display: flex;
}
.firstConImageContainer {
    width: 50%;
}
.firstConImage {
    width: 60%; 
    height: 70%;
    padding: 5px;
    border-radius: 2em;
}
.firstConImage:not(:disabled) {
    animation: enable 1.0s ease-in-out;
}
.firstConSpan {
    padding: 1em;
    width: 50%;
    font-weight: 600;
    text-align:left;
    color: white;
}
.secondContainer {
    width: 100%;
    display: flex;
}
.secondConImageContainer {
    width: 50%;
}
.secondConImage {
    width: 60%; 
    height: 70%;
    padding: 5px;
    border-radius: 2em;
}
.secondConImage:not(:disabled) {
    animation: enable 1.0s ease-in-out;
}
.secondConSpan {
    padding: 1em;
    width: 50%;
    font-weight: 600;
    text-align:left;
    color: white;
}
@media (max-width: 750px) {
    .homeContent {
        display: none;
    }
    .homeContentResponsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #212428;
    }
    .firstContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .firstConImageContainer {
        width: 100%;
    }
    .firstConImage {
        width: 60%; 
        height: 70%;
        padding: 5px;
        border-radius: 2em;
    }
    .firstConImage:not(:disabled) {
        animation: enable 1.0s ease-in-out;
    }
    .firstConSpan {
        padding: 1em;
        width: 100%;
        font-weight: 600;
        text-align:left;
        color: white;
    }
    .secondContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .secondConImageContainer {
        width: 100%;
    }
    .secondConImage {
        width: 60%; 
        height: 70%;
        padding: 5px;
        border-radius: 2em;
    }
    .secondConImage:not(:disabled) {
        animation: enable 1.0s ease-in-out;
    }
    .secondConSpan {
        padding: 1em;
        width: 100%;
        font-weight: 600;
        text-align:left;
        color: white;
    }
}