.main-footer {
    color: white;
    background-color: #9c2a00;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .nav-link {
    color: white;
  } 
  .nav-link:hover {
    color: black;
  }