.main-footer {
    color: white;
    background-color: #212428;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    color: white;
  } 
  .nav-link:hover {
    color: black;
  }